@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-tooltip {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%, 0 50%);
}

html {
  box-sizing: border-box;
  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}
